<div class="container">
  <barra-navegacion></barra-navegacion>
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header">
          <h3>Mi carrito de compras</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div *ngFor="let item of listProd" class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                  <img src="/img/{{ item['producto']['img'] }}" alt="" width="50px" height="50px">
                  <strong>{{ item['producto']['nombre'] }}</strong><br>
                  Unidades: {{ item['cantidad'] }} <br>
                  SubTotal: ${{ item['cantidad'] * item['producto']['precio'] }}
                </a>
              </div>             
            </div>
            <div class="col-md-6">
              <strong>Total: ${{ getTotal() }}</strong> <br><br>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" (click)="returnProducto()" class="btn btn-primary">cancelar</button>
                <button type="button" (click)="pagar()" class="btn btn-secondary">Pagar</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
