<div class="container">
  <barra-navegacion></barra-navegacion>
  <div class="row">
    <div *ngFor="let item of detalle" class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header">
          <h3>{{ item['nombre'] }}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-5">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/img/{{ item['img'] }}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text">Precio: ${{ item['precio'] }}</p>
                      <p class="card-text">Unidades disponibles: {{ item['cantidad'] }}</p>
                    </div>
                  </div>
                </div>
                
              </div>
              <button type="button" (click)="returnProducto()" class="btn btn-primary btn-sm">Atras</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
