<div class="container">
  <barra-navegacion></barra-navegacion>
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header">

          <div class="row row-cols-1 row-cols-md-2">
            <div class="col-mb-8">
              <h3>Catalogo de productos</h3>
            </div>
            <div class="col-mb-3">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
                </div>
                <input type="text" class="form-control" (keyup)="buscar(input.value)" #input aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
          </div>
          
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <div class="row row-cols-1 row-cols-md-4" >
              
              <div *ngFor="let item of lista" class="col mb-3">
                <div class="card">
                  <img src="/img/{{ item['img'] }}" class="card-img-top" alt="{{ item['nombre'] }}">
                  <div class="card-body">
                    
                    <div class="row row-cols-1 row-cols-md-1">
                      <div class="col-md-12">
                        <h5 class="card-title">{{ item['nombre'] }}</h5>
                        <p class="card-text">Precio: ${{ item['precio'] }}.</p>
                        <p class="card-text">Unidades disponibles: {{ item['cantidad'] }}</p>
                        <form >
                          <div class="row row-cols-1 row-cols-md-3">
                            <div class="col-mb-4">
                              <button type="button" (click)="returnDetalle(item)" class="btn btn-primary btn-sm">Ver mas</button>
                            </div>
                            <div class="col-mb-4">
                              <button type="button" *ngIf="item['cantidad']" class="btn btn-warning btn-sm" (click)="agregar(item, input)">Agregar</button>
                            </div>
                            <div class="col-mb-4">
                              <input type="number" class="form-control" value="1" min="1" max="{{ item['cantidad'] }}" #input>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>

            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

