<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" [routerLink]="['']">La bodega</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-outline-primary"><i class="fas fa-bars"></i></button>
      <a (click)="detalleCarrito()" > 
        <button type="button" class="btn btn-primary">
          <i class="fas fa-cart-arrow-down"></i> 
          <span class="badge badge-light" *ngFor="let total of lista">{{ total }}</span>
        </button>
      </a>
      <button type="button" (click)="salir()" class="btn btn-outline-secondary">
        <i class="fas fa-power-off"></i>
      </button>
    </form>
  </div>
</nav>
