/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./img/login-fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}