<div class="login-page">
  <div class="form">
    <form [formGroup]="miFormulario" (ngSubmit)="enviarFormulario()">
      <h2>Iniciar sesión</h2>
      <label for="email-input">
        Correo electrónico 
        <span class="span-error" *ngIf="!miFormulario.controls['email-grupo'].valid">(requerido)</span>
      </label>
      <input type="email" id="email-input" formControlName="email-grupo"/>
      <label for="pass-input">
        Contraseña 
        <span class="span-error" *ngIf="!miFormulario.controls['pass-grupo'].valid">(requerido)</span>
      </label>
      <input type="password" formControlName="pass-grupo" id="pass-input"/>
      
      <button type="submit">Ingresar</button>
    </form>
  </div>
</div>